- unless @timer.blank?

  %header
    %h1 What do <span class="blue">you</span> want to hear next?
    %p Click the song titles to vote.
    %h1#clock.blue

  - unless @songs.blank? 
    %ul.selections
      - @songs.each do |s|
        %li[s]
          %h3
            = link_to "#{s.artist} - #{s.title}", "/vote?id=#{s.id}", :class => "vote"
            %small (<span class="votes">#{s.votes}</span> votes)
          .progress
            .outline
            .bar
  - else
    %p No songs to vote on!

- else

  %header
    %h1 Nothing to currently vote on. Come back later.