!!! 5
%html
  %head
    %title Votr
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    = stylesheet_link_tag 'normalize', 'application'
    = javascript_include_tag 'application', 'jquery.countdown'
  %body
    = yield
        
    %footer
      %p
        #{link_to("SongVotr", "http://github.com/sh1ps/padrino-pubnub-votr")}. By #{link_to("@matt_mcclure", "http://www.twitter.com/matt_mcclure")}.
      %p= link_to("Login", "/admin")

    <div pub-key="pub-ac572c62-7762-4e2e-9afb-a7620048edb0" sub-key="sub-f5b1501e-a0fc-11e1-a6de-d1b91d67d2fc" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    %script{ :src => "http://cdn.pubnub.com/pubnub-3.1.min.js" }
    - unless @round.blank?
      %script{ :type => "text/javascript" }
        :plain
          var total_votes;
          var unique_id;
          var my_votes = 0;

          function disableVoting() {
            alert("This round's over! New round starting...");
            window.location.reload();
          }

          function update_votes(message) {
            console.log("Message Recieved");
            total_votes = message.total_votes;
            $.each(message.songs, function(index, value) {
              $("#song_" + this.id + " .votes").text(this.votes);
            });
            update_percentages(message);
          }

          function update_percentages(message) {
            total_votes = message.total_votes;
            $.each(message.songs, function(index, value) {
              percentage = this.votes / total_votes;
              $("#song_" + this.id + " .progress .bar").width(percentage * 100 + "%");
            });
          }

          $(function () {

            // GET UUID TO LIMIT VOTES
            PUBNUB.uuid(function(uuid) {
              unique_id = uuid;
            });

            // Need to figure out a way to get serverSync working.
            $('#clock').countdown({until: #{@timer.to_i}, format: 'HMS', compact: true, onExpiry: disableVoting});
            update_votes(#{@msg});

            $('.vote').click(function(event) {
              event.preventDefault();
              var $link = $(this);

              if(my_votes <= 10) {
                $.ajax({
                  type: 'POST',
                  url: $link.attr('href'),
                  data: { "uuid" : unique_id },
                  success: function (response) {
                    console.log("Vote placed.");
                  },
                  error: function (response) {
                    console.log("Error: vote not placed.");
                    alert("Vote could not be placed at this time.");
                  }
                });
                my_votes = my_votes + 1;
              } else {
                alert("You've already voted too many times this round...");
              }
            });

            // LISTEN FOR MESSAGES
            PUBNUB.subscribe({
              channel    : "votr-vote",

              restore    : false,

              callback   : update_votes,

              disconnect : function() {        // LOST CONNECTION.
                console.log("Disconnected from PubNub.");
              },
       
              reconnect  : function() {        // CONNECTION RESTORED.
                console.log("Reconnected to PubNub.");
              },
       
              connect    : function() {        // CONNECTION ESTABLISHED.
                console.log("Connected to PubNub.");
              }
            })
          });