!!! 5
%html
  %head
    %title Votr
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %meta{ :content => "3 days", :name => "revisit-after" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    = stylesheet_link_tag 'normalize', 'application'
    = javascript_include_tag 'application', 'jquery.countdown'
  %body
    = yield
        
    %footer
      %p
        #{link_to("SongVotr", "http://github.com/sh1ps/padrino-pubnub-votr")}. By #{link_to("@matt_mcclure", "http://www.twitter.com/matt_mcclure")}.

    <div pub-key="pub-ac572c62-7762-4e2e-9afb-a7620048edb0" sub-key="sub-f5b1501e-a0fc-11e1-a6de-d1b91d67d2fc" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    %script{ :src => "http://cdn.pubnub.com/pubnub-3.1.min.js" }
    - unless @round.blank?
      %script{ :type => "text/javascript" }
        :plain
          var total_votes;

          function disableVoting() {
            alert("This round's over! New round starting...");
            window.location.reload();
          }

          function update_votes(message) {
            console.log("Message Recieved");
            total_votes = message.total_votes;
            console.log("Total Votes: " + total_votes);
            console.log(message);
            $.each(message.songs, function(index, value) {
              $("#song_" + this.id + " .votes").text(this.votes);
            });
            update_percentages(message);
          }

          function update_percentages(message) {
            console.log("Updating Song Percentages");
            total_votes = message.total_votes;
            $.each(message.songs, function(index, value) {
              percentage = this.votes / total_votes;
              console.log(this.artist + " is currently at " + percentage * 100 + "%");
              $("#song_" + this.id + " .progress .bar").width(percentage * 100 + "%");
            });
          }

          $(function () {

            // Need to figure out a way to get serverSync working.
            $('#clock').countdown({until: #{@timer.to_i}, format: 'HMS', compact: true, onExpiry: disableVoting});
            update_votes(#{@msg});

            $('.vote').click(function(event) {
              event.preventDefault();
              var $link = $(this);
              $.ajax({
                type: 'POST',
                url: $link.attr('href'),
                success: function (response) {
                  console.log("Vote placed.");
                },
                error: function (response) {
                  console.log("Error: vote not placed.");
                  alert("Vote could not be placed at this time.");
                }
              });
            });

            // LISTEN FOR MESSAGES
            PUBNUB.subscribe({
                channel    : "votr-vote",

                restore    : false,

                callback   : update_votes,

                disconnect : function() {        // LOST CONNECTION.
                  console.log("Disconnected from PubNub.");
                },
         
                reconnect  : function() {        // CONNECTION RESTORED.
                  console.log("Reconnected to PubNub.");
                },
         
                connect    : function() {        // CONNECTION ESTABLISHED.
                  console.log("Connected to PubNub.");
                }
            })
          });